

<div class="container">
    <div class="jumbotron text-center py-5">
        <h1 class="bg-danger">about page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla facere eligendi cum, ut cumque similique placeat! Enim cumque at omnis, voluptas esse harum dolores doloremque nostrum rerum similique quam blanditiis soluta officiis, aliquam nemo illo, optio odio? Ipsam nemo quas autem aut, libero quam perspiciatis dolorem, incidunt odio error placeat.</p>
    </div>
</div>