<p>login works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form >
                <div class="form-group">
                    <label for="user">name:</label>
                    <input type="text" placeholder="user name" name="username"id="user" class="control">
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" placeholder="@ email.com" name="email"id="emial" class="control">
                </div>
                <div class="custom-control custom-checkbox">
                   
                    <input type="text" class="custom-control-input" name="contry"id="checkbox">
                    <label for="checkbox" class="custom-control-label">delhi:</label>
                </div>
            </form>
        </div>
    </div>
</div>