
<div class="container">
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" routerLink="/home" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">home</a></li>
      <li class="nav-item"><a class="nav-link " routerLink="/about" routerLinkActive="active">about</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/product" routerLinkActive="active">product</a></li>
      <li class="nav-item"><a  class="nav-link" routerLink="/contact" routerLinkActive="active">contact</a></li>
    </ul>
  </nav>
</header>
</div>
<router-outlet></router-outlet>


