

<div class="container">
    <div class="jumotron text-center">
        <h1 class="bg-info py-5">home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro blanditiis veniam, a quaerat quos eius voluptatem deserunt impedit, enim qui earum! Minus eum qui laborum, quia vero quos est soluta excepturi possimus nobis ipsam ex itaque sequi, aspernatur architecto unde tempore incidunt harum! Amet, voluptates.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin:0px auto">
    <div class="card" >
        <div class="card-img-top">
            <img src="../../assets/DSC_0574.JPG" alt="" style="width: 100%" >
        </div>
        <div class="card-body">
         <h3 class="card-title">sarah</h3>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae incidunt earum reprehenderit?</p>
        
        <button >redirect</button>
        </div>

    </div>
  </div>
</div>
</div>  5